#example_wrapper {
	min-height: 510px;
}

#example {
	min-height: 510px;
}

#piegradient1 {
	height: 200px;
}

#piegradient2 {
	height: 200px;
}

#piegradient3 {
	height: 200px;
}

#piegradient4 {
	height: 200px;
}