
    #Mapcontainer {
      min-width: 310px;
      max-width: 900px;
      min-height: 800px;
      margin: 0 auto;
    }
    .highcharts-no-tooltip {
      display: none;
    }
    #dynamicUpdate {
      min-height: 490px;
    }

    #errorDataTable{
      min-height: 170px;
    }

    #solid1{
      width: 420px;
      height: 210px;
    }
    #solid2{
      width: 420px;
      height: 210px;
    }
    #solid3{
      width: 420px;
      height: 210px;
    }

    @media (min-width: 1863px) and (max-width: 2236px) {
      table#example2 th:nth-child(1), table#example2 th:nth-child(2) {
        width: 11% !important;
      }
      table#example3 th:nth-child(1), table#example3 th:nth-child(2) {
        width: 11% !important;
      }
    }

    @media (max-width: 839px) {
      table#example2 th:nth-child(1), table#example2 th:nth-child(2) {
        width: 16% !important;
      }
      table#example3 th:nth-child(1), table#example3 th:nth-child(2) {
        width: 16% !important;
      }
    }

