#example1_wrapper {
	min-height: 650px;
}

#example1 {
	min-height: 650px;
}

#piegradient1 {
	height: 250px;
}

#piegradient2 {
	height: 250px;
}

#piegradient3 {
	height: 310px;
}

#linebasic {
	min-height: 420px;
}