#Mapcontainer {
    min-width: 310px;
    max-width: 900px;
    min-height: 800px;
    margin: 0 auto;
}

.highcharts-point.highcharts-color-1.highcharts-cluster-point.highcharts-cluster-zone-0{
fill: rgb(0,0,0);
}