@charset "utf-8";

/* #wrap {position:relative;width:100%;overflow:hidden;} */

/* main_wrap */
/* .main_wrap {position:relative;overflow:hidden;background:#2d2f3b;} */

/* slick */
/* .slick-slider {position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;}
.slick-slider .slick-track,
.slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto;}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}
.slick-slide{display:none;float:left;height:100%;min-height:1px;}
.slick-initialized .slick-slide{display:block;} */

/* section */
/* .test {position:relative;} */
/* .test .inner {width:1520px;margin:0 auto;} */
/* .test .fp-tableCell {-webkit-box-orient:vertical;flex-direction:column;padding:92px 0 0;} */
.test h2 {font-size:48px;color:#fff;font-weight:400;letter-spacing:-4px;}
.test h2 span {font-weight:900;}

.go_scroll {position:absolute;left:59px;top:50%;width:15px;height:96px;text-indent:-9999px;overflow:hidden;margin-top:-48px;background:url(../img/main/icon_goscroll_w.png) center top no-repeat;z-index:3;}
.go_scroll::before {content:'';position:absolute;left:5px;top:74px;width:5px;height:5px;background-color:#fff;border-radius:100%;overflow:hidden;}
.go_scroll:focus::before,
.go_scroll:hover::before {-webkit-animation:shake 8s infinite;animation:shake 8s infinite;}
/* .section04 .go_scroll {background-image:url(../img/main/icon_goscroll_b.png);}
.section04 .go_scroll::before {background-color:#000;} */
@keyframes shake {
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateY(9px);transform: translateY(9px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateY(0);transform: translateY(0);}
}

/* section02 */
.section02 {background:#113561 url(../img/main/bg_section02.png) center bottom no-repeat;background-size:100% auto;z-index:-1;}
.section02 .inner {width:1548px;}
.section02 h2 {display:block;text-align:center;}
.section02 .power_con {clear:both;position:relative;margin-top:53px;}
.section02 .date {position:absolute;right:17px;top:0;width:160px;height:28px;padding:2px 18px 0 0;color:#fff;text-align:right;border-radius:28px;border:1px solid rgba(255,255,255,.5);}
.section02 .date span {letter-spacing:-1px;}
.section02 .date button {position:absolute;left:11px;top:0;width:26px;height:26px;background:url(../img/main/icon_refresh.png) center center no-repeat;text-indent:-9999px;}
.section02 .date button:hover {-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear;}
@-webkit-keyframes spin {
	0% {-webkit-transform:rotate(0);transform:rotate(0);}
	100% {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
@keyframes spin {
	0% {-webkit-transform:rotate(0);transform:rotate(0);}
	100% {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
.power_nav_wrap {clear:both;width:484px;margin:0 auto 0;}
.power_nav_wrap::after {content:'';clear:both;display:block;}
.power_nav .slick-track {width:100% !important;-webkit-transform:translate3d(0, 0px, 0px) !important;transform:translate3d(0, 0px, 0px) !important;}
.power_nav .slick-slide + .slick-slide {margin-left:28px;}
.power_nav a {position:relative;color:#fff;padding:2px 3px 9px;font-weight:900;-webkit-transition:all 0.2s;transition:all 0.2s;}
.power_nav a::before {content:'';position:absolute;left:0;bottom:0;width:0;height:1px;background:#fff;-webkit-transition:all 0.5s;transition:all 0.5s;}
.power_nav a::after {content:'';opacity:0;position:absolute;right:4px;top:10px;width:9px;height:6px;background:url(../img/main/bul_nav_active.png) center center no-repeat;-webkit-transition:all 0.2s;transition:all 0.2s;}
.power_nav .slick-current a {padding-right:30px;}
.power_nav a:hover::before,
.power_nav .slick-current a::before {width:100%;}
.power_nav .slick-current a::after {opacity:1;}
.power_for {margin-top:42px;}
.power_for .slick-arrow {position:absolute;top:50%;width:65px;height:65px;margin-top:-34px;border:1px solid #fff;text-indent:-9999px;border-radius:100%;overflow:hidden;background-color:transparent;background-position:center center;background-repeat:no-repeat;-webkit-transition:all 0.2s;transition:all 0.2s;}
.power_for .slick-arrow:hover {background-color:rgba(0,0,0,.4);}
.power_for .slick-arrow.prev {left:-126px;background-image:url(../img/main/icon_power_prev.png);}
.power_for .slick-arrow.next {right:-126px;background-image:url(../img/main/icon_power_next.png);}
.power_for .slick-slide {position:relative;padding:0 14px 30px;}
.power_for .slick-slide .power_item {position:relative;background:#fff;height:320px;padding:29px 28px 28px;-webkit-box-shadow:10px 10px 10px 0px rgba(0, 0, 0, 0.06);box-shadow:10px 10px 10px 0px rgba(0, 0, 0, 0.06);}
.power_for .slick-slide .power_item.item01,
.power_for .slick-slide .power_item.item02 {padding-right:20px;}
.power_for .slick-slide.slick-current > div {/* -webkit-box-shadow:17px 17px 10px 0px rgba(0, 0, 0, 0.06);box-shadow:17px 17px 10px 0px rgba(0, 0, 0, 0.06); */}
.power_for .slick-slide h3 {color:#333;font-size:20px;font-weight:700;margin-left:-1px;}
.power_for .slick-slide .more {position:absolute;right:8px;top:18px;width:48px;height:48px;padding-top:48px;overflow:hidden;z-index:3;-webkit-transition:all 0.2s;transition:all 0.2s;}
.power_for .slick-slide .more:hover {-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.power_for .slick-slide .more::before,
.power_for .slick-slide .more::after {content:'';position:absolute;left:50%;background-color:#333;}
.power_for .slick-slide .more::before {top:23px;width:15px;height:3px;margin-left:-8px;}
.power_for .slick-slide .more::after {top:17px;width:3px;height:15px;margin-left:-2px;}
.power_for .table_style {margin-top:14px;}
.table_style p {width:100%;height:32px;padding-top:6px;text-align:center;color:#fff;background:#387fd6;}
.table_group {margin-top:8px;}
.table_group > span {font-size:13px;color:#969696;margin-bottom:5px;}
.table_group .txt_left {float:left;}
.table_group .txt_right {float:right;}
.table_group table {clear:both;width:100%;table-layout:fixed;border-bottom:1px solid #e1e1e1;}
.table_group table th,
.table_group table td {color:#565656;padding:14px 15px 13px;border-top:1px solid #e1e1e1;text-align:left;background-color:#fff;}
.table_group table th {padding-left:17px;font-weight:400;background-color:#f6f6f6;border-right:1px solid #e1e1e1;}
.smp_table .latest {position:relative;padding-top:32px;}
.smp_table .latest .label {position:absolute;top:0;left:0;width:50%;height:32px;}
.smp_table .latest .label a {position:relative;display:block;width:100%;height:100%;padding:5px 0 0 17px;color:#555;border:1px solid #d7d7d7;border-right-width:0;-webkit-transition:all 0.2s;transition:all 0.2s;}
.smp_table .latest .label a::after {content:'';position:absolute;right:17px;top:12px;width:10px;height:7px;background:url(../img/main/bul_smp.png) center center no-repeat;-webkit-transition:all 0.2s;transition:all 0.2s;}
.smp_table .latest .group2 .label {left:50%;}
.smp_table .latest .group2 .label a {border-left-width:0;border-right-width:1px;}
.smp_table .latest .active .label a {padding:4px 0 0 14px;border:2px solid #7c7c7c !important;font-weight:700;color:#333;}
.smp_table .latest .active .label a::after {right:18px;top:11px;background-image:url(../img/main/bul_smp_active.png);}
.smp_table .latest .active .table_group {display:block;}
.smp_table .latest .table_group {display:none;}
.smp_table .table_group table th,
.smp_table .table_group table td {padding-top:9px;padding-bottom:6px;}
.smp_table .table_group table tr:first-child th,
.smp_table .table_group table tr:first-child td {padding-top:8px;}
.smp_table .table_group table td {padding-left:23px;}

.graph_style {position:relative;margin-top:28px;padding-left:202px;}
.graph_style .level {position:absolute;left:0;top:24px;width:178px;height:159px;}
.graph_style .level span,
.graph_style .level strong {display:block;width:100%;}
.graph_style .level .img {position:relative;width:100%;height:129px;background:url(../img/main/bg_level.png) center top no-repeat;}
.graph_style .level .img::after {content:'';width:23px;height:61px;position:absolute;bottom:30px;left:79px;background:url(../img/main/bg_level_arrow.png);-webkit-transform:rotate(-90deg);transform:rotate(-90deg);-webkit-transform-origin:11px 49px;transform-origin:11px 49px;-webkit-animation: graph 1s ease;animation: graph 1s ease;}
.graph_style .level.level01 .img::after {-webkit-transform:rotate(-90deg);transform:rotate(-90deg);}
.graph_style .level.level02 .img::after {-webkit-transform:rotate(-53deg);transform:rotate(-53deg);}
.graph_style .level.level03 .img::after {-webkit-transform:rotate(-18deg);transform:rotate(-18deg);}
.graph_style .level.level04 .img::after {-webkit-transform:rotate(16deg);transform:rotate(16deg);}
.graph_style .level.level05 .img::after {-webkit-transform:rotate(49deg);transform:rotate(49deg);}
.graph_style .level.level06 .img::after {-webkit-transform:rotate(89deg);transform:rotate(89deg);}
@keyframes graph {
    0% {-webkit-transform:rotate(-90deg);transform:rotate(-90deg);}
    100% {}
}
.graph_style .level .txt {height:72px;padding-top:13px;font-size:30px;font-weight:500;letter-spacing:-1px;color:#333;text-align:center;position:relative;}
.graph_style .level .txt::before {content:'';position:absolute;top:23px;left:40px;width:14px;height:24px;background:url(../img/main/main_icon_graph.png) no-repeat;}
.graph_style .level.level01 .txt {color:#333;}
.graph_style .level.level02 .txt {color:#88bc41;}
.graph_style .level.level03 .txt {color:#2d74ea;}
.graph_style .level.level04 .txt {color:#eedf27;}
.graph_style .level.level05 .txt {color:#ed9025;}
.graph_style .level.level06 .txt {color:#e30c1a;}
.graph_style .graph {position:relative;width:100%;color:#565656;}
.graph_style .graph_info {font-size:16px;line-height:1.5;letter-spacing:-1px;padding-bottom:1px;}
.graph_style .graph_info strong {font-weight:900;}
.graph_style .graph_list {padding-top:13px;}
.graph_style .graph_list li {clear:both;}
.graph_style .graph_list h4 {display:block;}
.graph_style .graph_list h4::before {content:'·';margin:0 4px 0 3px;}
.graph_style .graph_list .graph_figure {clear:both;position:relative;width:100%;height:28px;padding:0 90px 0 12px;}
.graph_style .graph_list .graph_wrap {position:relative;display:inline-block;width:100%;height:3px;background:#d7d7d7;border-radius:3px;margin-top:10px;}
.graph_style .graph_list .graph_wrap .graph_bar {display:inline-block;height:100%;border-radius:3px;vertical-align:top;}
.graph_style .graph_list .graph01 .graph_wrap .graph_bar {background-color:#f2a14a;}
.graph_style .graph_list .graph02 .graph_wrap .graph_bar {background-color:#23b579;}
.graph_style .graph_list .graph03 .graph_wrap .graph_bar {background-color:#b55dec;}
.graph_style .graph_list .graph04 .graph_wrap .graph_bar {background-color:#67b0f5;}
.graph_style .graph_list .graph_value {position:absolute;right:0;top:0;width:73px;}