<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.group.user.dao.UserDAO">

	<select id="userVoSelectList" resultType="com.group.user.vo.UserVO" parameterType="String">
		SELECT
			pmk
			,id
			,password
			,name
			,creation_date
		FROM
			user_info
		WHERE id = #{userId}
	</select>
	
	<select id="authoritySelectList" resultType="String" parameterType="String">
		SELECT
			user_auth
		FROM
			user_info
		WHERE id = #{userId}
	</select>
	
	<select id="selectAuthLevel1MenuList" resultType="Map" parameterType="String">
		SELECT
			c.level1_cd
			,c.level1_nm
			,c.url_nm
			,(SELECT COUNT(*) FROM menu_group WHERE SUBSTR(level2_cd,1,2) = c.level1_cd)AS topYn
		FROM
			menu_group c
		WHERE c.useYn = 0
			AND c.menu_auth = (SELECT user_auth FROM user_info WHERE id = #{userId})
			AND c.level2_cd IS NULL 
		ORDER BY c.level1_cd ASC
	</select>
	
	<select id="selectAuthLevel2MenuList" resultType="Map" parameterType="String">
		SELECT
			level2_cd
			,level2_nm
			,url_nm
		FROM
			menu_group
		WHERE useYn = 0
			AND menu_auth = (SELECT user_auth FROM user_info WHERE id = #{userId})
			AND level2_cd IS NOT null
		ORDER BY level2_cd ASC
	</select>
	
	<insert id="userInfoInsert" parameterType="Map">
		INSERT INTO user_info (id, password, name) VALUES (#{id}, #{passencrypted}, #{name})
	</insert>

</mapper>