@charset "UTF-8";

/*-------------------------------------------------
title       :메인 팝업 전용
-------------------------------------------------*/

#issue {position:fixed;left:0;top:0;width:100%;height:0;z-index:100;display:-webkit-box;display:flex;-webkit-box-orient:vertical;flex-direction:column;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;}


#issue .tt {display:none;position:absolute;top:34px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);color:#fff;font-size:14px;width:1500px;max-width:calc(100% - 20px);z-index:1;}
#issue .tt a {position:absolute;right:0;z-index:50;}
#issue .control.open::before {content:'';font-family:'xeicon' !important;}
#issue .control.open span {display:inline-block;}
#issue .control.open strong {position:relative;color:#ff0;display:inline-block;margin:0 10px;}
#issue .control.open strong::after {content:'';background:#ea5303;border-radius:1000px;width:20px;height:20px;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);z-index:-1;}
#issue .control.open:hover::after, 
#issue .control.open:focus::after {-webkit-animation:spread 1.25s infinite;animation:spread 1.25s infinite;}

#issue .group {visibility:hidden;opacity:0;min-width:1308px;position:absolute;left:0;top:0;text-align:center;/* transform:translate(-50%, -50%); */}
#issue .title {display:block;font-size:30px;color:#fff;font-weight:300;margin:-1px 0 44px;}
#issue .title strong {font-weight:900;}
#issue .list {max-width:1308px;margin:0 auto;overflow:hidden;}
#issue .list .img {padding:0 14px; display:table-cell; width:33.3%; }
#issue .list .img a {display:block; width:100%; height:100%}
#issue .list .img img{width:100%}
#issue .slick-dots {margin-top:30px;text-align:center;font-size:0;}
#issue .slick-dots li {display:inline-block;}
#issue .slick-dots li button {width:10px;height:10px;background-color:rgba(255,255,255,.3);border:1px solid #fff;border-radius:100%;margin:0 8px;}
#issue .slick-dots li.slick-active button {background-color:#fff;border:0 none;}
#issue .item {position:static;right:auto;top:auto;margin-top:30px;}
#issue .item a + a {margin-left:10px;}
#issue .label {display:none;}
#issue .label .count {font-weight:700;color:red;}
#issue .control.close {display:inline-block;font-size:17px;height:40px;padding:0 16px 0 19px;color:#fff;border:1px solid #fff;border-radius:20px;line-height:38px;}
#issue .control.close::after {-webkit-transform:rotate(0);transform:rotate(0);-webkit-transition:all 0.2s;transition:all 0.2s}
#issue .control.close:hover::after, 
#issue .control.close:focus::after {-webkit-transform:rotate(180deg) translateY(2px);transform:rotate(180deg) translateY(2px);}
#issue .control.close::after {content:'';font-family:"xeicon";font-size:12px;display:inline-block;position:relative;top:1px;vertical-align:top;margin-left:10px;}
#issue .slick-slider {position:static;} 
#issue .close_box {position:fixed;top:0;right:0;bottom:0;left:0;font-size:0;z-index:-1;}

/*컨트롤 버튼*/
#issue .list .slick-arrow {color:transparent;font-size:0;display:inline-block;width:50px;height:80px;line-height:1.6;position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);z-index:10;}
#issue .list .slick-arrow::before {color:#fff;display:block;font-family:'xeicon';font-size:40px;width:100%;height:100%;font-weight:900;line-height:2;}
#issue .list .prev {left:-51px;}
#issue .list .prev::before {content:''}
#issue .list .next{right:-51px;}
#issue .list .next::before {content:''}

#issue.active {height:100%;z-index:100;}
#issue.active .group {position:relative;visibility:visible;opacity:1;/* min-width:1308px; */-webkit-transition:all 0.2s;transition:all 0.2s;}
#issue.active .group::before {content:'';width:1000%;height:100%;margin-left:-500%;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);height:1000%;margin:0;background-color:rgba(0,0,0,0.5);z-index:-1;}
#issue.active .control.open {display:none;}

.blank {color:#fff;}

@media all and (max-width:1439px){

	#issue .group {width:100%;max-width:calc(100% - 100px);min-width:auto;}
	#issue .list {max-width:100%;}
	#issue .list .img {padding:0 8px;}
	#issue .list .prev {left:-47px;}
	#issue .list .next {right:-47px;}

}

@media all and (max-width:1199px){

	#issue .title {font-size:27px;margin-bottom:25px;}
	#issue .slick-dots {margin-top:25px;}
	#issue .control.close {font-size:14px;height:32px;line-height:30px;border-radius:16px;padding:0 14px 0 15px;}
	#issue .control.close::after {margin-left:7px;}

}

@media screen and (max-width:1024px){

	#issue .tt {top:18px;}
	#issue .list {height:auto;}

}
	
@media screen and (max-width:768px){
	
	#issue .group {max-width:calc(100% - 60px);}
	#issue .title {font-size:20px;margin-bottom:15px;}
	#issue .title strong {font-weight:700;}
	#issue .control.open:before {font-size:22px;padding-right:15px;}
	#issue .control.open em {display:none;}
	#issue .control.open span.count {display:inline-block;position:absolute;right:0;top:0;z-index:1;}
	#issue .control.open span.count > span {display:none;}
	#issue .list .prev {left:-30px;}
	#issue .list .next {right:-30px;}
	#issue .list .slick-arrow {width:30px;height:40px;margin-top:-15px;}
	#issue .list .slick-arrow::before {font-size:30px;line-height:40px;}
	#issue .slick-dots {margin-top:15px;}
	#issue .slick-dots li button {text-indent:-9999px;}
	#issue .item {margin-top:20px;}
	#issue .item a + a {margin-left:4px;}
	
}
@-webkit-keyframes spread 
{
	0% {width:120%;height:120%;opacity:0.1;}
  	100% {width:150%;height:150%;opacity:0;} 
}

@keyframes spread 
{
	0% {width:120%;height:120%;opacity:0.1;}
  	100% {width:150%;height:150%;opacity:0;} 
}